@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:  "Poppins", sans-serif;;
}


html {
  scroll-behavior: smooth;
}

h1{
	font-size: 48px;
	text-align: center;
}

header{
	height: 100px;
	width: 100%;
	display:flex;
	background-color: #BBDEF0;
	justify-content: space-between;
	align-items: center;
	padding: 0px 120px;
}

.logo{
	width: 173px;
	height: 64px;
	background-image: url("media/logo.svg");
	background-position: center;
}

.topMenu{
	width: 524px;
	display: flex;
	justify-content: space-between;
}


.topMenu a{
	color: #000;
	font-size: 18px;
	text-decoration: none;
	cursor: pointer;
	transition: all .3s ease-out;
}

.topMenu a:hover{
	color:#fff;
}

















.first{
	margin-top: 80px;
	height: 844px;
}


.first h1{
	text-align: center;
	margin-top: 8px;
	font-size: 48px;
}

.wrapper1{
	margin-top: 56px;
	padding: 0 122px;
}

.p1, .p2{
	font-size: 16px;
}

.p1{
	margin-top: 120px;
}

.p2{
	margin-top: 33px;
}

.btn1{
	width: 337px;
	height: 69px;
	background-color: #00F500;
	border-radius: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-top: 161px;
	font-size: 24px;
	transition: all .3s ease-out;
	cursor: pointer;
}

.btn1:hover{
	background-color: #fff;
	color: #00F500;
	border: 1px solid #00F500;
}

.wrapper2{
	float: left;
}

.img1{
	width: 689px;
	height: 516px;
	background-image: url("media/gym1.png");
	background-position: center;
	float: right;
}

















.second{
	margin-top: 80px;
	height: 1650px;
	background-color: #BBDEF0;
}


.second h1{
	padding-top: 44px;
}


.second .wrapper{
	padding: 0 224px;
}


.secondBlock1, .secondBlock2, .secondBlock3, .secondBlock4{
	display: flex;
	justify-content: space-between;
}

.secondBlock1{
	margin-top: 30px;
}

.secondBlock2, .secondBlock3, .secondBlock4{
	margin-top: 54px;
}

.secondText1 .p22{
	margin-top: 36px;
}

.secondText1 .p23{
	margin-top: 36px;
}

.secondImg1, .secondImg2{
	width: 450px;
	height: 300px;
	background-color: #000;
	border-radius: 10px;
}

.secondImg1{

	background-image: url(media/gym2.png);
	background-position: center;
}

.secondImg2{

	background-image: url(media/gym3.png);
	background-position: center;
}














.third{
	height: 1600px;
	margin-top: 80px;
}


.third h1{
	margin-top: 35px;
}


.third .wrapper{
	padding: 0px 225px;
	margin-top: 78px;
}


.third .wrapper .wrap{
	display: flex;
	justify-content: space-between;
	margin-bottom: 66px;
}

.cardImg{
	width: 383px;
	height: 383px;
	background-color: #EFCA08;
	border-radius: 10px;
}

.cardImg1{
	width: 100%;
	height: 100%;
	background-image: url("media/prod1.png");
	background-position: center;
}

.cardImg2{
	width: 100%;
	height: 100%;
	background-image: url("media/prod2.png");
	background-position: center;
}

.cardImg3{
	width: 100%;
	height: 100%;
	background-image: url("media/prod3.png");
	background-position: center;
}

.cardImg4{
	width: 100%;
	height: 100%;
	background-image: url("media/prod4.png");
	background-position: center;
}

.card h2{
	text-align: center;
	font-size: 24px;
	margin-top: 27px;
}


.card h3{
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
	margin-top: 10px;
}

.card p{
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
}








.fourth{
	margin-top: 80px;
	height: 831px;
}

.fourth h1{
	margin-top: 64px;
}


.fourth .wrapper{
	display: flex;
	padding: 0 120px;
	justify-content: space-between;
	margin-top: 54px;
}


.abonement{
	width: 360px;
	height: 650px;
	background-color: #BBDEF0;
	border-radius: 0 0 100px 10px;
}


.abonement h2{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 16px;
	font-size: 24px;

}


.abonement1 h2{
	background-color: #00FFD0;
}

.abonement2 h2{
	background-color: #FF9D00;
}

.abonement3 h2{
	background-color: #FF00B7;
}



.abonement h3{
	margin-top: 11px;
	text-align: center;
	font-size: 16px;
}

.abonement ul{
	margin-top: 35px;
	margin-left: 26px;
	font-size: 16px;
}


.abonement .for{
	text-align: center;
	font-size: 16px;
}

.abonement1 .for{
	margin-top: 102px;
}


.abonement2 .for{
	margin-top: 78px;
}


.abonement3 .for{
	margin-top: 40px;
}



.abonement .price{
	margin-top: 52px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}



.abonement .btn2{
	margin-top: 43px;
	width: 250px;
	height: 64px;
	border-radius: 15px;
	background-color: #00F500;
	color: #fff;
	margin-left: 60px;
	font-size: 24px;
	text-align: center;
	align-content: center;
	transition: all .3s ease-out;
	cursor: pointer;
}


.abonement .btn2:hover{
	background-color: #EFCA08;
}


















footer{
	margin-top: 100px;
	height: 272px;
	background-color: #3A3A3A;
}



footer .wrapper{
	padding-top: 61px;
	padding-left: 120px;
	display: flex;
}


footer .wrapper .botomLogo{
	width: 173px;
	height: 64px;
	background-image: url("media/logoBlack.svg");
}

footer .wrapper .botomMenu{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 127px;
	margin-left: 135px;
}


footer .wrapper .botomMenu a{
	font-size: 18px;
	text-decoration: none;
	color: #fff;
}


footer .wrapper .address{
	color: #fff;
	margin-left: 64px;
}

footer .wrapper .address p{
	margin-top: 4px;
}

footer .wrapper .address .h3{
	margin-top: 16px;
}



footer .wrapper .tel{
	color: #fff;
	margin-left: 97px;
}


footer .wrapper .tel p{
	margin-top: 4px;
}


footer .wrapper .social{
	margin-left: 104px;
	height: 128;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer .wrapper .social div{
	width: 32px;
	height: 32px;
}

footer .wrapper .social .inst{
	background-image: url("media/inst.png");
}

footer .wrapper .social .tg{
	background-image: url("media/tg.png");
}

footer .wrapper .social .face{
	background-image: url("media/face.png");
}


.polit{
	margin-top: 43px;
	margin-left: 120px;
	color: #fff;
}










.modalWrapper{
	width: 100%;
	height: 100vh;
	background-color: #000000aa;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	justify-content: center;
	align-items: center;
}

.modal{
	width: 600px;
	height: 650px;
	border-radius: 30px;
	background-color: #BBDEF0;
}


.modal h2{
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	margin-top: 45px;
}


.inputBox{
	margin-left: 41px;
}

.inputBox input{
	outline: none;
	border: none;
	border-bottom: 1px solid #000;
	width: 350px;
	background-color: inherit;
}



.inputBox label{
	font-size: 24px;
}


.input1{
	margin-top: 51px;
}

.input2, .input3, .input4{
	margin-top: 56px;
}


.input1 input{
	margin-left: 112px;
}


.input2 input{
	margin-left: 83px;
}


.input3 input{
	margin-left: 75px;
}


.input4 input{
	margin-left: 87px;
}


.modal input[type=submit]{
	width: 337px;
	height: 69px;
	background-color: #00F500;
	color: #fff;
	font-size: 24px;
	border-radius: 38px;
	outline: none;
	border: none;
	margin-top: 71px;
	margin-left: 132px;

}
